.fcontainer{
    border: 2px solid grey;
    height: 45vh;
    display: flex;
    /* flex-direction: row-reverse;
    flex-direction: column-reverse; */
    justify-content: center;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
 
    /* align-items: center;
    align-items: flex-start;
    align-items: flex-end;   */

    /* flex-flow: column wrap; */
}

.fitem{
    background-color: red;
    border: 2px solid black;
    height: 122px;
    width: 122px;
    margin: 12px;
}

.fitem1{
    align-self: center;
}